@import url("./font.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Disket Mono', sans-serif;
}

.container{
    width: 100vw;
    max-width: 100%;
    height: 2217px;
    background-image: url("../img/background/bg-hero.svg");
    background-color: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

